*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-font: 'Red Hat Display', sans-serif;
    --special-font: 'Prata', serif;

    --font-color-p: #81a1af;
    --font-color-default: #e5e7eb;
    --font-color-special: #F18F01;
    --font-size-default: 16px;

    --background-color: #080c16;
    --accent-color: #FFFFFF;

    --button-color: #99C24D;
    --button-text-color: black;

    --border-radius-default: 16px;

    --max-width: 1200px;
    --form-max-width: 600px;
}

html {
    font-size: var(--font-size-default);
    font-family: var(--default-font);
    color: var(--font-color-default);
    background-color: var(--background-color);
}

body {
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

section {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 24px;
}

a {
    text-decoration: none;
    color: var(--font-color-default);
}

h1 {
    font-size: clamp(2rem, 10vw, 4rem);
    letter-spacing: .25rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    color: var(--font-color-p);
}

.sticky-header {
    position: sticky;
    top: 0;
}

.cta-buttons {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-family: var(--default-font);
    font-size: .9rem;
    letter-spacing: .1rem;
    border-radius: var(--border-radius-default);
    padding: 8px 24px;
}

.special-text {
    color: var(--font-color-special);
}

.centered-text {
    text-align: center;
}

.justified-text {
    text-align: justify;
}

.horizontally-centered {
    margin-left: auto;
    margin-right: auto;
}

.transform-uppercase {
    text-transform: uppercase;
}

.transform-capitalize {
    text-transform: capitalize;
}

/* FLEX CLASSES */
.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-16 {
    gap: 16px;
}

/* HEADER & NAVBAR */
header {
    background-color: var(--background-color);
}

.header-content {
    padding: 0 12px;
    max-width: var(--max-width);
    height: 64px;
}

nav li {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.site-identity {
    font-family: var(--special-font);
    font-size: 1.2rem;
    margin-bottom: -4px;
}

nav a,
.site-identity a {
    padding: 8px 12px;
    color: var(--font-color-heading);
}

/* The 'contact' link edge should be perpendicular to the last icon of socials by design */
ul li + li + li > a {
    padding-right: 0;
}

/* HERO SECTION */
.heading {
    flex: 3;
}

.socials {
    flex: 1;
    justify-content: end;
    padding-top: 16px;
}

.social-icons {
    width: auto;
    height: auto;
}

.socials :last-child {
    padding-left: 12px;
}


.resume-button-container,
/* ABOUT SECTION */
.subheading {
    margin: 32px 0;
}

.subheading {
    font-weight: 400;
}

.stack-icon-row { 
    justify-content: center;
    margin: 24px 0;
}

.stack-icons {
    max-height: auto;
    width: clamp(40px, 8vw, 60px);
}

/* PROJECT/S SECTION */
.project {
    column-gap: 40px;
}

img {
    display: block;
    max-height: 337px;
    max-width: 600px;
}

.right-col {
    flex: 1;
}

.project-title,
.stack-used {
    margin: 8px 0;
}

.project-description {
    flex-grow: 1;
}

.project-controls {
    column-gap: 10px;
}

#view-project,
#view-source-code {
    margin: 4px 0;
    max-height: 35px;
}

/* CONTACT SECTION */
.contact-form {
    max-width: var(--form-max-width);
}

.half-length-field {
    flex: 1;
}

.full-length-field {
    flex: var(--form-max-width);
}

input {
    height: 35px;
    padding: 0 16px;
}

textarea {
    padding: 16px;
}

input,
textarea {
    font-family: var(--default-font);
    border: 2px solid var(--button-color);
    border-radius: var(--border-radius-default);
}

#submit {
    background-color: var(--button-color);
    letter-spacing: .12rem;
}

@media screen and (max-width: 767px) {
    /* navlinks and social icons gets hidden*/
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    nav,
    .socials {
        display: none;
    }

    .header-content {
        justify-content: center;
    }
    
    /* hero and resume button gets centered */
    h1 {
        text-align: center;
    }

    .resume-button-container {
        justify-content: center;
    }
}

@media screen and (max-width: 1023px) { 
    /* project contents need to be centered for both mobile and tab*/
    .right-col {
        text-align: center;
    }

    .project img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: min(80vw, 600px);
    }

    .project-controls {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .right-col {
        flex-basis: 360px;
    }
}

/* this is to align the project title to topmost of image */
@media screen and (min-width: 1024px) {
    .project-title {
        margin-top: -6px;
    }
}
